[submodule "diff_painter"]
	path = diff_painter
	url = git://github.com/wickline/diff_painter.git
[submodule "git/willgit-mainline"]
	path = git/willgit-mainline
	url = git://gitorious.org/willgit/mainline.git
[submodule "vim/vim/bundle/skittle_berry"]
	path = vim/vim/bundle/skittle_berry
	url = git://github.com/bsandrow/skittles_berry.git
[submodule "vim/vim/bundle/powerline"]
	path = vim/vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/vim-perl"]
	path = vim/vim/bundle/vim-perl
	url = git://github.com/petdance/vim-perl.git
