[submodule "diff_painter"]
	path = diff_painter
	url = git://github.com/wickline/diff_painter.git
[submodule "git/willgit-mainline"]
	path = git/willgit-mainline
	url = git://gitorious.org/willgit/mainline.git
[submodule "vim/vim.symlink/bundle/Skittles-Berry"]
	path = vim/vim.symlink/bundle/Skittles-Berry
	url = https://github.com/vim-scripts/Skittles-Berry.git
